.pokedex-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .pokedex-wrapper {
        width: 95%;
        padding: 1rem;
    }
}
